<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight boite border transparent"><%= user.photo %></div> 
    <div class="p-2 bd-highlight border ms-3 w-50">
      <h3><%= user.name %></h3>
      <span class="ft-6 d-flex justify-content-end me-3">
         Number of post : <%= user.posts_counter %>
      <span>
    </div>
  </div>